<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.homestay.mapper.HsConsumptionMapper">
    
    <resultMap type="HsConsumption" id="HsConsumptionResult">
        <result property="id"    column="id"    />
        <result property="datail"    column="datail"    />
        <result property="price"    column="price"    />
        <result property="time"    column="time"    />
        <result property="rid"    column="rid"    />
        <result property="uid"    column="uid"    />
    </resultMap>

    <sql id="selectHsConsumptionVo">
        select id, datail, price, time, rid, uid from hs_consumption
    </sql>

    <select id="selectHsConsumptionList" parameterType="HsConsumption" resultMap="HsConsumptionResult">
        <include refid="selectHsConsumptionVo"/>
        <where>  
            <if test="datail != null  and datail != ''"> and datail = #{datail}</if>
            <if test="price != null "> and price = #{price}</if>
            <if test="time != null "> and time = #{time}</if>
            <if test="rid != null "> and rid = #{rid}</if>
            <if test="uid != null "> and uid = #{uid}</if>
        </where>
    </select>
    
    <select id="selectHsConsumptionById" parameterType="Long" resultMap="HsConsumptionResult">
        <include refid="selectHsConsumptionVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertHsConsumption" parameterType="HsConsumption" useGeneratedKeys="true" keyProperty="id">
        insert into hs_consumption
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="datail != null">datail,</if>
            <if test="price != null">price,</if>
            <if test="time != null">time,</if>
            <if test="rid != null">rid,</if>
            <if test="uid != null">uid,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="datail != null">#{datail},</if>
            <if test="price != null">#{price},</if>
            <if test="time != null">#{time},</if>
            <if test="rid != null">#{rid},</if>
            <if test="uid != null">#{uid},</if>
         </trim>
    </insert>

    <update id="updateHsConsumption" parameterType="HsConsumption">
        update hs_consumption
        <trim prefix="SET" suffixOverrides=",">
            <if test="datail != null">datail = #{datail},</if>
            <if test="price != null">price = #{price},</if>
            <if test="time != null">time = #{time},</if>
            <if test="rid != null">rid = #{rid},</if>
            <if test="uid != null">uid = #{uid},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteHsConsumptionById" parameterType="Long">
        delete from hs_consumption where id = #{id}
    </delete>

    <delete id="deleteHsConsumptionByIds" parameterType="String">
        delete from hs_consumption where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectHsConsumptionByRid" resultMap="HsConsumptionResult">
        SELECT id, datail, price, time, rid, uid
        FROM hs_consumption
        WHERE rid = #{rid}
    </select>

    <select id="selectHsConsumptionByUid" resultMap="HsConsumptionResult">
        SELECT id, datail, price, time, rid, uid
        FROM hs_consumption
        WHERE uid = #{uid}
    </select>

    <select id="selectHsConsumptionByRidAndUid" resultMap="HsConsumptionResult">
        SELECT id, datail, price, time, rid, uid
        FROM hs_consumption
        WHERE rid = #{rid} AND uid = #{uid}
    </select>
</mapper>