<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.homestay.mapper.HsRoomMapper">
    
    <resultMap type="HsRoom" id="HsRoomResult">
        <result property="id"    column="id"    />
        <result property="roomType"    column="room_type"    />
        <result property="roomNumber"    column="room_number"    />
        <result property="buildingType"    column="building_type"    />
        <result property="bedType"    column="bed_type"    />
    </resultMap>

    <sql id="selectHsRoomVo">
        select id, room_type, room_number, building_type, bed_type from hs_room
    </sql>

    <select id="selectHsRoomList" parameterType="HsRoom" resultMap="HsRoomResult">
        <include refid="selectHsRoomVo"/>
        <where>  
            <if test="roomType != null  and roomType != ''"> and room_type = #{roomType}</if>
            <if test="roomNumber != null "> and room_number = #{roomNumber}</if>
            <if test="buildingType != null "> and building_type = #{buildingType}</if>
            <if test="bedType != null "> and bed_type = #{bedType}</if>
        </where>
    </select>
    
    <select id="selectHsRoomById" parameterType="Long" resultMap="HsRoomResult">
        <include refid="selectHsRoomVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertHsRoom" parameterType="HsRoom" useGeneratedKeys="true" keyProperty="id">
        insert into hs_room
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="roomType != null">room_type,</if>
            <if test="roomNumber != null">room_number,</if>
            <if test="buildingType != null">building_type,</if>
            <if test="bedType != null">bed_type,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="roomType != null">#{roomType},</if>
            <if test="roomNumber != null">#{roomNumber},</if>
            <if test="buildingType != null">#{buildingType},</if>
            <if test="bedType != null">#{bedType},</if>
         </trim>
    </insert>

    <update id="updateHsRoom" parameterType="HsRoom">
        update hs_room
        <trim prefix="SET" suffixOverrides=",">
            <if test="roomType != null">room_type = #{roomType},</if>
            <if test="roomNumber != null">room_number = #{roomNumber},</if>
            <if test="buildingType != null">building_type = #{buildingType},</if>
            <if test="bedType != null">bed_type = #{bedType},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteHsRoomById" parameterType="Long">
        delete from hs_room where id = #{id}
    </delete>

    <delete id="deleteHsRoomByIds" parameterType="String">
        delete from hs_room where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>