<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.homestay.mapper.HsRrMapper">
    
    <resultMap type="HsRr" id="HsRrResult">
        <result property="id"    column="id"    />
        <result property="reservationId"    column="reservation_id"    />
        <result property="roomId"    column="room_id"    />
    </resultMap>

    <sql id="selectHsRrVo">
        select id, reservation_id, room_id from hs_rr
    </sql>

    <select id="selectHsRrList" parameterType="HsRr" resultMap="HsRrResult">
        <include refid="selectHsRrVo"/>
        <where>  
            <if test="reservationId != null "> and reservation_id = #{reservationId}</if>
            <if test="roomId != null "> and room_id = #{roomId}</if>
        </where>
    </select>
    
    <select id="selectHsRrById" parameterType="Long" resultMap="HsRrResult">
        <include refid="selectHsRrVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertHsRr" parameterType="HsRr" useGeneratedKeys="true" keyProperty="id">
        insert into hs_rr
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="reservationId != null">reservation_id,</if>
            <if test="roomId != null">room_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="reservationId != null">#{reservationId},</if>
            <if test="roomId != null">#{roomId},</if>
         </trim>
    </insert>

    <update id="updateHsRr" parameterType="HsRr">
        update hs_rr
        <trim prefix="SET" suffixOverrides=",">
            <if test="reservationId != null">reservation_id = #{reservationId},</if>
            <if test="roomId != null">room_id = #{roomId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteHsRrById" parameterType="Long">
        delete from hs_rr where id = #{id}
    </delete>

    <delete id="deleteHsRrByIds" parameterType="String">
        delete from hs_rr where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>