<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.homestay.mapper.HsStaffMapper">
    
    <resultMap type="HsStaff" id="HsStaffResult">
        <result property="id"    column="id"    />
        <result property="employeeName"    column="employee_name"    />
        <result property="position"    column="position"    />
        <result property="department"    column="department"    />
        <result property="contactNumber"    column="contact_number"    />
        <result property="email"    column="email"    />
        <result property="onDuty"    column="onDuty"    />
        <result property="permissionLevel"    column="permission_level"    />
        <result property="salary"    column="salary"    />
    </resultMap>

    <sql id="selectHsStaffVo">
        select id, employee_name, position, department, contact_number, email, onDuty, permission_level, salary from hs_staff
    </sql>

    <select id="selectHsStaffList" parameterType="HsStaff" resultMap="HsStaffResult">
        <include refid="selectHsStaffVo"/>
        <where>  
            <if test="employeeName != null  and employeeName != ''"> and employee_name like concat('%', #{employeeName}, '%')</if>
            <if test="position != null  and position != ''"> and position = #{position}</if>
            <if test="department != null  and department != ''"> and department = #{department}</if>
            <if test="contactNumber != null  and contactNumber != ''"> and contact_number = #{contactNumber}</if>
            <if test="email != null  and email != ''"> and email = #{email}</if>
            <if test="onDuty != null "> and onDuty = #{onDuty}</if>
            <if test="permissionLevel != null "> and permission_level = #{permissionLevel}</if>
            <if test="salary != null "> and salary = #{salary}</if>
        </where>
    </select>
    
    <select id="selectHsStaffById" parameterType="Long" resultMap="HsStaffResult">
        <include refid="selectHsStaffVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertHsStaff" parameterType="HsStaff">
        insert into hs_staff
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="employeeName != null">employee_name,</if>
            <if test="position != null">position,</if>
            <if test="department != null">department,</if>
            <if test="contactNumber != null">contact_number,</if>
            <if test="email != null">email,</if>
            <if test="onDuty != null">onDuty,</if>
            <if test="permissionLevel != null">permission_level,</if>
            <if test="salary != null">salary,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="employeeName != null">#{employeeName},</if>
            <if test="position != null">#{position},</if>
            <if test="department != null">#{department},</if>
            <if test="contactNumber != null">#{contactNumber},</if>
            <if test="email != null">#{email},</if>
            <if test="onDuty != null">#{onDuty},</if>
            <if test="permissionLevel != null">#{permissionLevel},</if>
            <if test="salary != null">#{salary},</if>
         </trim>
    </insert>

    <update id="updateHsStaff" parameterType="HsStaff">
        update hs_staff
        <trim prefix="SET" suffixOverrides=",">
            <if test="employeeName != null">employee_name = #{employeeName},</if>
            <if test="position != null">position = #{position},</if>
            <if test="department != null">department = #{department},</if>
            <if test="contactNumber != null">contact_number = #{contactNumber},</if>
            <if test="email != null">email = #{email},</if>
            <if test="onDuty != null">onDuty = #{onDuty},</if>
            <if test="permissionLevel != null">permission_level = #{permissionLevel},</if>
            <if test="salary != null">salary = #{salary},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteHsStaffById" parameterType="Long">
        delete from hs_staff where id = #{id}
    </delete>

    <delete id="deleteHsStaffByIds" parameterType="String">
        delete from hs_staff where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>